entrypoint = "index.html"
modules = ["web", "nodejs-20"]
run = "python3 -m http.server 8080"

[nix]
channel = "stable-24_11"
packages = ["static-web-server"]

[deployment]
publicDir = "public"
deploymentTarget = "static"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Serve static"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = """
echo \"Serving HTML, open the Preview to see your output.
To see changes you make, you can hit the refresh button in the preview, you do \u001B[1mnot\u001B[0m have to stop and run again.
Console logs are available in the Preview devtools or your browser devtools.\" && static-web-server -w ./.config/static-web-server.toml
"""
waitForPort = 80

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "WC UBG Games Server"

[[workflows.workflow]]
name = "WC UBG Games Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx http-server . -p 5000 -a 0.0.0.0 --cors"
waitForPort = 5000

[[ports]]
localPort = 80
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 36627
externalPort = 3000

[agent]
expertMode = true
